:root {
  --r3llie-color: rgb(130, 158, 153);
  --secondary-color: linear-gradient(
    111.5deg,
    rgb(228, 247, 255) 21.9%,
    rgb(255, 216, 194) 92.2%
  );
  --third-color:#251b15;
  --heading-font-family: "DM Serif Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}
h1 {
  font-size: 96px;
}
h2 {
  font-size: 64px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.7;
  opacity: .8;
}
body {
  font-family: var(--default-font-family);
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-family: var(--default-font-family);
  font-weight: bold;
  margin: 0;
  color: var(--third-color);
}

.hero h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 2;
  color: var(--third-color);
}

.btn-r3llie {
  background: var(--r3llie-color);
  border-radius: 4px;
  color: #fcecdc;
  line-height: 28px;
  font-size: 18px;
  padding: 13px 23px;
  font-weight: bolder;
}

.project-description {
  padding: 75px 60px;
}

.r3llie-project-button {
  border: 3px solid var(--r3llie-color);
  border-radius: 4px;
  color: var(--third-color);
  line-height: 28px;
  font-size: 18px;
  padding: 13px 23px;
  font-weight: bolder;
  text-decoration: none;

}

.about-hero {
  padding: 160px 20px;
}

.about-content {
  margin: 30px;
}

.about-content h1 {
font-size: 44px;
line-height: 80px;
}

.about-content h2 {
  font-size: 18px;
  color: var(--third-color);
}

@media (max-width: 900px) {
  .project-description {
    padding: 10px;
    text-align: center;
  }
  .hero {
    padding: 10px;
  }
 
  h1 {
    font-size: 75px;
    margin: 0;
  }
 .hero h2 {
   line-height: 1.7;
  
  }
  h2 {
    font-size: 38px;
  }
  .about-content h1 {
    line-height: 1.3;
  }
  .about-hero {
     padding: 15px 10px;
     text-align: center;
  }
  .about-content p {
    font-size: 14px;
  }
  
}