:root {
  --r3llie-color: rgb(130, 158, 153);
  --secondary-color: linear-gradient(
    111.5deg,
    rgb(228, 247, 255) 21.9%,
    rgb(255, 216, 194) 92.2%
  );
  --third-color: #251b15;
  --heading-font-family: "DM Serif Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}
h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

h4 {
  margin-left: 25px;
  font-size: 34px;
}

a {
  text-decoration: none;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.7;
  opacity: 0.8;
}

body {
  font-family: var(--default-font-family);
}

nav {
  padding: 8px 0;
}

nav ul {
  margin-bottom: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 93px;
  margin-left: 50px;
}

nav a {
  color: var(--third-color);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--r3llie-color);
  opacity: .8;
}

.logo {
  max-width: 100px;
  border-radius: 80px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 80px 20px;
}

.hero p {
  font-size: 36px;
  font-family: var(--default-font-family);
  font-weight: bold;
  margin: 0;
  color: var(--third-color);
}

.hero h2 {
  font-weight: bolder;
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 2;
  color: var(--third-color);
  margin-bottom: 50px;
}

.btn-r3llie {
  background: var(--r3llie-color);
  border-radius: 4px;
  color: #fcf2e9;
  line-height: 28px;
  font-size: 18px;
  padding: 13px 23px;
  font-weight: bolder;
}

.project-description {
  padding: 75px 60px;
}

.r3llie-project-button {
  border: 3px solid var(--r3llie-color);
  border-radius: 4px;
  color: var(--third-color);
  line-height: 28px;
  font-size: 18px;
  padding: 13px 23px;
  font-weight: bolder;
  text-decoration: none;
}

.about-img {
margin-top: 50px;
max-width: 70%;
}

.nav-container {
  max-height: 115px;
}

.content-container {
  padding: 65px 20px;
}

.content {
  margin: 30px;
}

.content h1 {
  font-size: 64px;
  line-height: 70px;
}

.content h2 {
  font-size: 24px;
  color: var(--third-color);
  transition: all 100ms ease-in-out;
}

.work-content {
 padding-bottom: 0;
}
.content-work {
  margin-bottom: 0;
}

.social-links a {
  color: var(--r3llie-color);
  margin: 0 20px;
  padding: 10px 20px;
  background: var(--third-color);
  border-radius: 50%;
  font-size: 24px;
}

.social-links a:hover {
  color: var(--third-color);
  background: var(--r3llie-color);
}

.footer-box {
  background: var(--secondary-color);
  padding: 30px 130px;
  border-radius: 13px;
}

.footer-box p {
  margin: 0;
}

.footer-email {
  font-size: 24px;
  color: var(--third-color)
}

.footer-email:hover {
  color: var(--r3llie-color);
}

.model-card {
  margin-left: 27px;
  margin-bottom: 30px;
}



@media (max-width: 900px) {
  nav {
    padding: 15px;
  }
  nav li {
    line-height: 50px;
    margin-left: 15px;
  }
  h1 {
    font-size: 75px;
    margin: 0;
  }
  h2 {
    font-size: 44px;
    
  }
  h4 {
    text-align: center;
    margin-left: 0;
    margin-top: 30px;
    
  }
p {
  font-size: 16px;
}
  .project-description {
    padding: 10px;
    text-align: center;
  }
  .hero {
    padding: 18px;
  }
  .hero h2 {
    line-height: 1.7;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .hero p {
    font-size: 30px;
  }
  .content h1 {
    font-size: 44px;
    line-height: 1.5;
  }
  .content-container {
    padding: 15px 10px;
    text-align: center;
  }
  .content p {
    font-size: 16px;
    text-align: center;
  }
  .logo {
    max-width: 50px;
  }
  .about-img {
    max-width: 80%;
    margin-top: 0;
  }
  
}
